.main:root {
  --dark-blue: #2B3467;
  --light-blue: #BAD7E9;
  --light-grey: #EEEEEE;
  --light-red: #EB455F;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  max-width: 100%;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--light-grey);
  z-index: 2;
}

.main-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--light-blue);
}

